<template>
  <div id="container">
  <div id="box-1" class="box">Box 1</div>
  <div id="box-2" class="box">Box 2</div>
  <div id="box-3" class="box">Box 3</div>
  <div id="box-4" class="box">Box 4</div>
  <div id="box-5" class="box">Box 5</div>
  <div id="box-6" class="box">Box 6</div>
  <div id="box-7" class="box">Box 7</div>
  <div id="box-8" class="box">Box 8</div>
  <div id="box-9" class="box">Box 9</div>
  <div id="box-10" class="box">Box 10</div>
  <div id="box-11" class="box">Box 11</div>
  <div id="box-12" class="box">Box 12</div>

  <div id="box-2-1" class="box">Box 1</div>
  <div id="box-2-2" class="box">Box 2</div>
  <div id="box-2-3" class="box">Box 3</div>
  <div id="box-2-4" class="box">Box 4</div>
  <div id="box-2-5" class="box">Box 5</div>
  </div>

</template>

<style scoped>
#container {width:65%; margin:20px auto}
#box-1 {margin: 10px; float: left; width: 99%; height: 100px; outline: 1px solid red;}
#box-2 {margin: 10px; float: left; width: 60.8%; height: 280px; outline: 1px solid olive;}
#box-3 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid fuchsia;}
#box-4 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid maroon; }
#box-5 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-6 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-7 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-8 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-9 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-10 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-11 {margin: 10px; float: left; width: 10%; height: 80px; outline: 1px solid blue; }
#box-12 {margin: 10px; float: left; width: 99%; height: 280px; outline: 1px solid olive;}


#container-2 {width:65%; margin:30px auto; clear: both; padding: 20px 0}
#box-2-1 {outline: 1px solid red; float: left; width: 98%; height: 100px;}
#box-2-2 {outline: 1px solid olive; float: right; width: 31%; height: 100px;}
#box-2-3 {outline: 1px solid fuchsia; float: left; width: 65%; height: 222px;}
#box-2-4 {outline: 1px solid maroon; float: right; width: 31%; height: 100px;}
#box-2-5 {outline: 1px solid blue; float: left; width: 98%; height: 100px;}
</style>


