<template>
  <div class="home">
    <SensorInfo/>
  </div>
</template>

<script>
// @ is an alias to /src
import SensorInfo from '@/components/SensorInfo.vue'

export default {
  name: 'Home',
  components: {
    SensorInfo
  }
}
</script>
