<template>
  <div>
    <h1>Human Experience Live Dashboard</h1>
    <card-display :value="temperature" parameter="temperature" unit="ºC"/>
    <card-display :value="co2" parameter="CO2" unit="ppm"/>
    <card-display :value="noise" parameter="max noise" unit="db"/>
    <card-display :value="humidity" parameter="humidity" unit="%"/>
    <card-display :value="lux" parameter="lux" unit="lux"/>

    <blueprint-display floorId="0"/>
  </div>
  <div>
    <h1>teste</h1>
    <chart-display/>
  </div>
</template>

<script>
import sourceData from '@/data.json'
import CardDisplay from '@/components/CardDisplay'
import BlueprintDisplay from '@/components/BlueprintDisplay'
import ChartDisplay from '../components/ChartDisplay.vue'

export default {
  components: {
    CardDisplay,
    BlueprintDisplay,
    ChartDisplay,
  },
  data () {
    return {
      sensorValues: sourceData.values
    }
  },
  computed: {
    temperature () {
      let index = this.sensorValues.length - 1
      return this.sensorValues[index].payload.stts751.temperature / 10
    },
    noise () {
      let index = this.sensorValues.length -1
      return this.sensorValues[index].payload.ics43434.DBmax / 10
    },
    humidity () {
      let index = this.sensorValues.length -1
      return this.sensorValues[index].payload.si7021.humidity / 10
    },
    co2 () {
      let index = this.sensorValues.length -1
      return this.sensorValues[index].payload.ccs811.eCO2
    },
    lux () {
      let index = this.sensorValues.length -1
      return this.sensorValues[index].payload.opt3001.lux / 10
    }
  }    
}
</script>