<template>
  <!--timestamp is passed to AppDate component by its parent component-->
  <span v-bind:title="humanFriendlyDate()">
    {{ diffForHumans() }}
  </span>
</template>

<script>
// "dayjs" library is used to format the date
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
import localizedDate from 'dayjs/plugin/localizedFormat'
dayjs.extend(relativeTime)
dayjs.extend(localizedDate)

export default {
  props: {
    timestamp: {
      required: true,
      type: Number
    }
  },
  methods: {
    diffForHumans () {
      return dayjs.unix(this.timestamp).fromNow()
    },
    humanFriendlyDate () {
      return dayjs.unix(this.timestamp).format()
    }
  }
}
</script>
