<template>

  <div class="col-full">
    <!--Custom Event "v-on" listens to the form submit event and then triggers the save method
    ".prevent" prevents the page from reloading once we hit the submit button-->
    <form v-on:submit.prevent="save">
      <div class="form-group">
      <!--two way binding (v-bind & v-on) if newPostText value changes textarea will change
      and also if textarea value changes newPostText will be updated-->
      <!-- <textarea v-bind:value="newPostText"
                      v-on:input="newPostText = $event.target.value"
                      name="" id="" cols="30" rows="10" class="form-input"/> -->

      <!--v-model does the two way binding above on its own-->
      <textarea v-model="text" name="" id="" cols="30" rows="10" class="form-input"/>
      </div>
      <div class="form-actions">
        <!--when submit button is pressed a form event is triggered which will call the "save" method-->
        <button class="btn-blue">Submit Post</button>
      </div>
    </form>
  </div>

</template>

<script>
export default {
  data () {
    return {
      text: ''
    }
  },
  methods: {
    save () {
      const postId = 'ggggg' + Math.random()
      const post = {
        id: postId,
        text: this.text,
        publishedAt: Math.floor(Date.now() / 1000),
        userId: '38St7Q8Zi2N1SPa5ahzssq9kbyp1'
      }
      // Custom Event "$emit" broadcasts an event to the parent component, like "props" passes data from a component to a child
      this.$emit('save', { post }) // post accessible under eventData.post

      // returns the textarea to blank after submitting the post.
      this.text = ''
    }
  }
}
</script>
