<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Random User Generator</title>
  </head>
  <body>
    <div id="app">
        <img :class="gender" v-bind:src="picture" :alt="`${firstName} ${lastName}`"/>
        <h2></h2>
        <h1>{{ firstName }} {{ lastName }}</h1>
        <h3>Email: {{ email}}</h3>
        <button v-on:click="getUser()" :class="gender">Get Random User</button>
    </div>

    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="app.js"></script>
  </body>
</html>
