<template>
  <div class="hello">

    <div class="blueprint">
      <img src="../assets/blueprintresized.png">
      <!--<img v-bind:src="blueprint">-->
    </div>

    <div class="container">

      <!--navbar from bootstrap installed-->
      <form class="navbar-form m-2">
        <div class="input-group no border">
          <!--class form-control from bootstrap, v-model stock from bootstrap-->
          <input type="text" value="" class="form-control" placeholder="Search..." v-model="values">
          <button @click="update(values)" class="btn btn-white btn-round bn-just-icon">
            <!--https://material.io/resources/icons/?style=baseline-->
            <!--imported with the Material Design-->
            <i class="material-icons ml-3">search</i>
          </button>
        </div>
      </form>

      <!-- Sensor info display (TODO: turn cards into buttons) -->
      <div class="row">
        <!-- col-md-3 (from bootstrap)
        "md" renderization in medium screen (content of the page will be dinamycally adjusted)
        "3" for using 1/4 of the page (page has 12cols)-->
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Temperature</p>
              <h4 class="card-title">{{ this.temperature }} ºC</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Noise</p>
              <h4 class="card-title">{{ this.noise }} db's</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Light</p>
              <h4 class="card-title">{{ this.light }} lm's</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Humidity</p>
              <h4 class="card-title">{{ this.humidity }} %</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Wifi</p>
              <h4 class="card-title">{{ this.humidity }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">CO2 </p>
              <h4 class="card-title">{{ this.humidity }} g/m3</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Color Light</p>
              <h4 class="card-title">{{ this.humidity }}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--class card from bootstrap and material bootstrap -->
          <div class="card card-stats card-background">
            <div class="card-header card-header-icon">
              <div class="card-icon">
                <i class="material-icons">content_copy</i>
              </div>
              <p class="card-category">Pressure</p>
              <h4 class="card-title">{{ this.infoSensor.device }} kPa</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>


import axios from 'axios'
import api from '../api.js'

export default {
  name: 'SensorInfo',
  props: {
    msg: String
  },
  data() {
    return {
      blueprint: '../assets/resized.png',
      values : '',
      infoSensor: '',
      temperature: '30',
      noise: '10',
      light: '10',
      humidity: '20'
    }
  },
  methods: {
    update(values) {
      console.log(values)
      this.getInfo(values)
    },
    //get information from api  
    getInfo(values) {
      this.infoSensor = api.serveData()
      // .then(res => {
      //   this.infoSensor = res.data 
      // })
      // .catch(err => console.log(err))
      console.log(this.infoSensor)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.card-background {
  background-color: rgba(28, 156, 241, 0.801);
  color: white
}

.blueprint {
  width: 100%;
}

</style>
