<template>
  <div>
    <select class="form-control" v-model="floor">
      <option disabled value="">Please select floor</option>
      <option value="0">Floor 0</option>
      <option value="1">Floor 1</option>
      <option value="2">Floor 2</option>
    </select>
  </div>
  <div>
    <img v-bind:src="blueprintByFloor()"/>
  </div>
</template>

<script>
export default {
  props: {
    floorId: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      floor: this.floorId
    }
  },
  methods: {
    blueprintByFloor () {
      console.log('aqui', this.floor)
      let path = ""
      switch (this.floor) {
        case '0':
          path = "https://image.freepik.com/vetores-gratis/modelo-de-design-moderno-de-uma-casa_23-2148314813.jpg"
          break
        case '1':
          path = "https://image.freepik.com/free-vector/blueprint-design-plan-house_23-2148316617.jpg"
          break
        case '2':
          path = "https://image.freepik.com/vetores-gratis/planta-de-uma-vista-superior-da-casa_23-2148297339.jpg"
          break
      }
      return path
    }
  }
}
</script>

<style>
</style>
