<template>
  <div>
    <h3>Current {{ parameter }}: {{ value }} {{ unit }}</h3>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: Number
    },
    parameter: {
      required: true,
      type: String
    },
    unit: {
      required: false,
      type: String,
      default: ''
    }
  }
}
</script>

<style>

</style>