<template>
  <div>
    <h1>teste2</h1>
    <vue-echarts :option="option" style="height: 500px" ref="chart" />
  </div>
</template>

<script>
import { VueEcharts } from 'vue3-echarts';

export default {
  name: 'simpleChart',
  data: () => ({
    option: {
    xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [150, 230, 224, 218, 135, 147, 260],
        type: 'line'
    }]
    }
  }),
  components: {
    VueEcharts
  }
}
</script>
