<template>
  <!-- If thread id passed exist then we display the thread-->
  <div class="col-large push-top">
    <h1>{{ thread.title }}</h1>

    <post-list v-bind:posts="threadPosts"/>

    <!--event listener save is binded to addPost method -->
    <!--when the listener receives the custom event "save" from the child component it triggers the addPost method-->
    <post-editor v-on:save="addPost"/>
  </div>
</template>

<script>
import sourceData from '@/data.json'
import PostList from '@/components/PostList'
import PostEditor from '@/components/PostEditor'

export default {
  name: 'ThreadShow',
  components: {
    PostList,
    PostEditor
  },
  props: {
    id: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      threads: sourceData.threads,
      posts: sourceData.posts
    }
  },
  computed: {
    thread () {
      return this.threads.find(thread => thread.id === this.id) //  also available under this.$route.params.id
    },
    threadPosts () {
      return this.posts.filter(post => post.threadId === this.id)
    }
  },
  methods: {
    addPost (eventData) {
      // object post stores all the properties from the past eventData.post
      const post = {
        // "..." is called spread operator and it breaks down all properties from the post object received from PostEditor
        // and populates the new object post here in the parent component
        ...eventData.post,
        // threadId from eventData is undefined as PostEditor does not know the threadId,
        // its parent component ThreadShow knows it so we attribute its value here
        threadId: this.id
      }
      // push the new post to our sourceData file
      this.posts.push(post)
      this.thread.posts.push(post.id)
    }
  }
}
</script>
